streamlit>=1.32.0
matplotlib>=3.8.0
numpy>=1.26.0
pandas>=2.1.0
plotly>=5.17.0
requests>=2.31.0
pytz>=2023.3
scipy>=1.11.0
scikit-learn>=1.3.0
statsmodels>=0.14.0
xgboost>=2.0.0
arch>=6.1.0
yfinance>=0.2.36
lightgbm>=4.1.0
shap>=0.43.0